html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

p {
    font-size: 13px;
    margin: 0 0 0 10px;
}

.container {
    width: 375px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #C6C6C6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    border: 1px solid #C6C6C6
}

.logo {
    width: 127px;
}

.usr-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.post {
    border: 1px solid #C6C6C6
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}

.post-img {
    width: 375px;
}

.icon-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 5px 0;
}

.icon {
    width: 22.3px;
    width: 22.13px;
    margin-right: 5px;
}

